BACKUP_PATHS="{{ ansible_env.HOME }}"
BACKUP_EXCLUDES="--exclude-file {{ ansible_env.HOME }}/.config/restic_excludes"
RETENTION_DAYS=7
RETENTION_WEEKS=4
RETENTION_MONTHS=6
RETENTION_YEARS=2
RESTIC_REPOSITORY=rclone:googledrive:backup
RESTIC_PASSWORD_COMMAND="secret-tool lookup unique restic_googledrive"
